/* BACKGROUND COLOR */
.header-style1 .menus > ul > li > a:before,
.header-style1 .menus > ul > li > a:after,
.slider-carousal-sec .owl-buttons > div:hover,
.carousal-box > span > a:hover,
.post-details1 > a:hover,
.sidebar-tabs > ul > li.active > a:before,
.social-btns > li > a:hover,
.post-author-detail > a,
.header-style2 .menus > ul > li:hover > a:before,
.pagination > li > a:hover,
.pagination > li.active > a,
.pagination > li.active:hover > a,
.pagination > li.active:focus > a > span,
.header-style3 .menus > ul > li > a:after,
.header-style3 .menus > ul > li > a:before,
.post-fancy-slide > a,
.post-carousal .owl-buttons > div:hover,
.fancy-social > i,
.fancy-social > span,
.fancy-social > ul > li > a,
.fancy-post-desc > a,
.carousal-post .owl-buttons > div:hover,
.team-carousal-sec .owl-pagination > div.active,
.news-carousal-sec .owl-buttons > div:hover,
.categories > ul > li:before,
.partners .owl-pagination > div.active,
.header-style4 .menus > ul > li:before, 
.header-style4 .menus > ul > li:after,
.tags-button > a:hover,
.sharing-btns:hover > a,
.sharing-btns > ul > li > a:hover,
.comment-btn:hover,
.read-more,
.testimonial-carousal .owl-pagination > div.active,
.author-widget .progress > .progress-bar,
.contact-form #contact form button,
.single-post .social-btns > li > a:hover,
.project-carousal .owl-buttons > div:hover,
.leave-comment form .submit,
.most-views > a:before,
.hover-btn > a,
.author-info-box > i,
.large-btn,
.author-skills > .progress > .progress-bar,
.diploma-tabs .nav.nav-tabs > li.active > a,
.project > a,
.blog-about > span,
.pagination.style2 > li > span,
.pagination.style2 > li > span:hover,
.pagination > li.active > span,
.pagination.style3 > li.active > span:hover,
.plan-post-desc > a,
.bg-color,.menus > ul > li > ul > li a:before,.pagination > li > span.current,
.tagcloud a:hover,
.open-menu,
.blog-list-desc > a:hover,
.search-result > form button,
.style2 .menus > ul > li:hover >  a,
.error-sec > ul li a,
.post-author2-detail > a,
.menu-list > li > a:hover:before,
.profile-box > a:hover,
.error-sec > ul li a,
.search-result > form button,
.open-menu,
.blog-list-desc > a:hover

  
{
	background-color:#e23a3f;
}



/* FONT COLOR */
.post-title1 > p > a,
.post-author-detail > i,
.post-author-detail > h3 > strong,
.fancy-metas > li > a,
.news-widget > h6 > a,
.categories > ul > li:hover > a,
.categories > ul > li:hover,
.header-style4 .menus > ul > li > a > i,
.header-style4 .menus > ul > li:hover > a,
.century-21st > ul.metas > li a:hover,
.century-21st > h2 > a:hover,
.twitter.widget p  a,
.twitter.widget ul > li > a,
.picture-modern .post-title > h3 > a:hover,
.testimonial-avatar > h6,
.blog-style7 > h2  > a:hover,
.blog7-metas > li > p a,
.tags-bar > li > a:hover,
.blog-about > h3,
.mini-title > i,
.recent-post > ul > li > h3,
 .author-desk-info > h4,
 .author-widget h3,
 .accordian-widget > h2.active:after,
 .accordian-widget > h2.active,
 .general-metas > li a:hover,
.post-author-infos > h3 > a,
.related-project-sec > h3,
.comment-info > h3 > a,
.most-views > span,
.category-author > ul > li > i,
.dark .accordian-widget > h2.active,
.sidebar-title > span,
.author-skills > span,
.experience > h3 > i,
.diploma-tabs .nav.nav-tabs > li > a > i,
.recent-post > h3,
.author-desk-tab > h3,
.pagination.style2 > li:first-child > a, 
.pagination.style2 > li:last-child > a,
.pagination.style3 > li:first-child > a,
.pagination.style3 > li:last-child > a,
.pagination.style3 > li:first-child > a:hover > i, 
.pagination.style3 > li:last-child > a:hover > i,
.plan-metas > li > i,
.text-color,
.post.sticky .post-title1 > h3 > a,
.post-details1 > p a,
.post-desc > p a,
.sticky .fancy-post .fancy-post-desc > h3 > a,
.sticky.plan-post .plan-post-desc > h2 a,
.sticky.picture-modern .post-title > h3 > a,
.sticky .blog-style > h2 > a,
.sticky .post .post-details2 > h3 > a,
.sticky.century-21st > h2 > a,
.sticky.blog-list .blog-list-desc > h2 > a,
.date > i,
.blog-style7.sticky > h2 > a,
.blog-style8.sticky .blog-desc h2 > a,
.picture-modern .post-title > p > a,
.blog-desc h2 > a:hover,
.blog-list-desc > h2 > a:hover,
.author-widget-sec > h3,
.error-sec > h1,
.search-result > h3 > span,
.menu-list > li > a:hover,
.mega-menu.style2 .menu-list > li a,
.blog-list-desc > h2 > a:hover,
.mega-menu.style2 .menu-list > li a,
.gallery-thumb1 > ul > li > a:hover,
.title-shadow > ul > li > a > .fa-link,
.gallery4-thumb > ul li > a  > .fa-link,
.gallery4-info > span  
{
    color: #e23a3f;
}


/* BORDER COLOR */
.social-btns > li > a:hover,
.pagination > li > a:hover,
.pagination > li.active > a,
.pagination > li.active:hover > a,
.pagination > li.active:focus > a > span,
.header-style3 .menu-sec,
.header-style1,
.fancy-post,
.team-carousal-sec .owl-pagination > div.active,
.news-carousal-sec .owl-buttons > div:hover,
.partners .owl-pagination > div.active,
.post-author2-detail > a,
.sharing-btns:hover > a,
.sharing-btns > ul > li > a:hover,
.comment-btn:hover,
.picture-modern,
.testimonial-carousal .owl-pagination > div.active,
.single-post .social-btns > li > a:hover,
blockquote,
.hover-btn > a,
.map-sec ,
.pagination.style2 > li > span,
.pagination.style2 > li > span:hover,
.pagination.style2 > li:first-child > a:hover, 
.pagination.style2 > li:last-child > a:hover,
.pagination > li.active > span,
.plan-metas > li > i,.pagination > li > span.current,
.date > i,
.blog-list-desc > a:hover,
.gallery-thumb1 > ul > li > a:hover,
.gallery1-info,
.title-shadow > ul > li > a > .fa-link ,
.gallery4-thumb > ul li > a  > .fa-link,
.gallery4-info  

{
    border-color: #e23a3f;
}


/* OPACITY */

.century-21st .post-thumb > a > i,
.post-tabs .nav > li > a:before,
.multimedia-tabs .nav li > a:before
{
    background: none repeat scroll 0 0 rgba(226, 58, 63, 0.8);
}


/* CUSTOM COLOR */
.widget {
	border-top-color:#e23a3f;
}
#topcontrol
{
    background: none repeat scroll 0 0 rgba(226, 58, 63, 0.4);
}